<!DOCTYPE html>
<html>
    
    
    <head> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet/less" type="text/css" href="styles.less" />
        
    
        
        <title> FamWords </title>
    </head>
    
     <body style="background-color:#C7C1FF; color: black">
         <h1 style="text-align: center; color: navy; font-size: 80px; padding-top: 20px; padding-bottom: 20px; font-family : 'Avenir Black'"> FAMiliarize yourself with WORDS</h1>
        <div class="container-fluid">
            <div class="col-md-6">
                <h4 style="text-align: center; color: navy; font-size: 40px; padding-top: 20px; padding-bottom: 20px; font-family : 'Avenir Black'"> <em> Fam Words </em></h4>
                
                <p style="text-align: center;"> <img src=logo.png style="height: 350px; width: 350px;"></p>
                
            
                
             <p style="text-align: center; color: navy; font-size: 25px; padding-top: 30px; padding-bottom: 20px; font-family : 'Avenir Black'; padding-left: 30px; padding-right: 30px"> Repetition is the key to learning, but looking at the same flashcards day after day can get boring. That’s why we created FamWords,  a web app that helps people learn everyday English words, with the use of their surroundings.
            </p>
                
        
            </div>
         
         
         

        <div class="col-md-6" style="text-align: center; vertical-align; padding-top:150px ">
            <form class="form" method="GET" action="/users/login">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
            <button class="btn btn-md btn-basic btn-block" href="/users/signupdisplay" style="text-size: 20px; margin-top: 20px">Don't have an account? Sign Up</button> 

            
		</form>
	</div>
            <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
         </div>
        

</html>