<!DOCTYPE html>
<html>
    <head>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="sign_upStyle.css">
         <title> Learn!</title>
        
    </head>
    
    <body style="padding-left: 40px; padding-top: 40px; padding-right: 40px; padding-bottom: 40px">
        <h1 style="text-align: center; color: white; font-size: 80px"> <em>LEARN</em></h1>
        
        <form class="form">
        
        <h3 style="font-size: 20px; color: white"> Enter the url of the image you'd like to process</h3>
        <div class="form__group">
            <input type="url" placeholder="enter the url of the image" class="form__input" />
        </div>
        </form>
        
        
        
        
    
    
    </body>
</html>
